.header {
  max-width: 1440px;
  background-color: #011e46;
  color: #fff;
  box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.5);

  .wrapper {
    padding-left: 66px;
    padding-right: 90px;
  }
  &__logo {
    width: 128px;
    height: auto;
  }
  .grow {
    flex-grow: 0 !important;
  }
  .navLink {
    color: #fff !important;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
  }

  .navSearch {
    transition: 0.3s ease-in-out;
    box-shadow: none;
    border: none !important;
    font-size: 14px;
    border-radius: 3px;
  }
  .navSearch:focus {
    border: none !important;
  }
  .navbarToggle {
    color: #fff;
    font-size: 14px;
    box-shadow: none;
  }
}
.main__btn {
  padding: 5px 15px;
  background: #ffffff;
  font-weight: 700;
  font-size: 14px;
  color: #011e46;
  display: block;
  border: none;
  border-radius: 3px;
  height: 33px;
  max-height: 33px;
  white-space: nowrap;
  margin-right: 10px;
  margin-left: 20px;
}

@media all and (max-width: 992px) {
  .header {
    .wrapper {
      padding-left: 30px;
      padding-right: 45px;
    }
  }
}

@media all and (max-width: 576px) {
  .header {
    .wrapper {
      padding-left: 5px;
      padding-right: 20px;
    }
  }
}
