.header {
	max-width: 1920px;
	color: black;
	border-bottom: 1px solid transparent;
	.wrapper {
		.header_top {
			.search {
				background: #ffffff;
				box-shadow: inset 0px -2px 6px rgba(0, 0, 0, 0.25);
				border-radius: 50px;
				.navSearch {
					border: none;
					box-shadow: none;
					background: transparent;
				}
			}
			.box_center {
				.vie_eng {
					border: none;
					padding: 0;
					background-color: transparent;
					span {
						font-weight: 400;
						font-size: 18px;
						line-height: 21px;
						color: #4d4d4d;
						&:hover {
							color: black;
						}
					}
				}
				.active {
					color: black;
				}
			}
			.box_bottom {
				.btn_signin_up {
					border: 0.5px solid transparent;
					padding: 3px 10px;
					background-color: transparent;
					span {
						font-weight: 400;
						font-size: 18px;
						line-height: 25px;
						color: #4d4d4d;
					}
					&:hover {
						border: 0.5px solid black;
					}
				}
				.active {
					border: 0.5px solid black;
					background-color: transparent;
				}
			}
		}
		.header_mid {
			padding: 10px 38px !important;
			.text_logo {
				width: calc(100%);
				align-items: center;
				display: flex;
				justify-content: center;
				font-size: 100px;
			}
			.box_time {
				span {
					font-weight: 400;
					font-size: 15px;
					line-height: 25px;
				}
				.border_text {
					border-bottom: 1px solid #a31925;
					width: fit-content;
					margin-left: 10px !important;
				}
			}
			.search {
				input {
					height: 52px;
					font-size: 18px;
				}
			}
		}
	}
}
