.caseStudy {
  padding: 30px 0 50px 0;
  background-color: #f4ecdb;
  color: #000;

  // .btnFilter {
  //   display: none;
  // }

  // .modalFilter {
  //   display: block;
  //   position: relative;
  // }

  &_title {
    font-size: 15px;
    font-weight: 700;
    text-align: justify;
  }

  &_filter {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "UTM Cafeta", sans-serif;
    margin-bottom: 10px !important;
  }

  .check_lable {
    cursor: pointer;
  }

  .check_span {
    font-size: 16px;
    font-weight: 700;
    font-family: "Times New Roman", Times, serif;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + span:before {
    width: 12px;
    height: 12px;
    border: 1px solid #000;
    content: "";
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0;
    vertical-align: baseline;
    border-radius: 50%;
  }

  input[type="checkbox"]:checked + span:before {
    background: #1460c8;
    border: 1.5px solid #1460c8;
    box-shadow: inset 0px 0px 0px 1px #fff;
    color: #333;
    content: "";
    text-align: center;
    border-radius: 50%;
  }

  input[type="checkbox"]:focus + span::before {
    outline: 0;
  }

  .scroll {
    height: 84vh;
    overflow-y: auto;
    border: 1px solid #000;
    padding: 20px 12px !important;

    &::-webkit-scrollbar {
      width: 5px;
      background-color: #ccc;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #000;
    }
  }
}

@media all and (max-width: 992px) {
  .caseStudy {
    padding: 30px 0 25px 0;

    // .btnFilter {
    //   display: block;
    // }

    // .modalFilter {
    //   display: none;
    //   position: absolute;
    //   // height: 100vh;
    //   background-color: #ccc;
    //   z-index: 100;
    //   top: 350px;
    //   left: 0;
    // }
  }
}

@media all and (min-width: 576px) and (max-width: 768px) {
  .caseStudy {
    padding: 140px 0 25px 0;
  }
}

@media all and (max-width: 576px) {
  .caseStudy {
    padding: 140px 0 25px 0;
  }
}
