.expert {
  padding: 90px 0 50px 0;
  color: #fff;

  &_black {
    background-color: #000;
    padding: 15px 40px;
  }

  &_title {
    font-size: 18px;
    font-weight: 700;
    text-align: justify;
  }

  &_title_sm {
    font-size: 10px;
    font-weight: 400;
    text-align: justify;
  }

  &_content {
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
  }

  .scroll {
    margin: 0 auto;
    overflow-x: auto;
    border: 1px solid #fff;

    &::-webkit-scrollbar {
      height: 5px;
      background-color: #605959;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #fff;
      border-radius: 10px;
    }
  }
}

@media all and (max-width: 992px) {
  .expert {
    padding: 70px 0 25px 0;
  }
}

@media all and (min-width: 576px) and (max-width: 768px) {
  .expert {
    padding: 80px 0 25px 0;
  }
}

@media all and (max-width: 576px) {
  .expert {
    padding: 70px 0 15px 0;
  }
}
