.mechanism {
  padding: 20px 0 50px 0;

  .bdRight {
    border-right: 1px solid #000;

    div:nth-last-child(1) {
      margin-bottom: 0 !important;
    }
  }

  &_title {
    font-size: 20px;
    font-weight: 700;
    text-align: justify;

    &:hover {
      cursor: pointer;
      color: rgb(14, 14, 239);
    }
  }

  &_content {
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
  }

  &_title_white {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-align: justify;
  }
}

@media all and (max-width: 992px) {
  .mechanism {
    padding: 70px 0 25px 0;

    &_title {
      font-size: 18px;
    }

    &_content {
      font-size: 14px;
    }

    &_title_white {
      font-size: 18px;
    }
  }
}

@media all and (min-width: 576px) and (max-width: 768px) {
  .mechanism {
    padding: 0px 0 25px 0;
  }
}

@media all and (max-width: 576px) {
  .mechanism {
    padding: 10px 0 25px 0;

    .bdRight {
      border-right: none;
    }

    &_title {
      font-size: 16px;
    }

    &_content {
      font-size: 13px;
    }

    &_title_white {
      font-size: 16px;
    }
  }
}
