.dictionary {
  padding: 100px 0 50px 0;

  .word {
    font-size: 16px;
    font-weight: 400;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

@media all and (max-width: 992px) {
  .dictionary {
    padding: 80px 0 25px 0;
  }
}

@media all and (min-width: 576px) and (max-width: 768px) {
  .dictionary {
    padding: 100px 0 25px 0;
  }
}

@media all and (max-width: 576px) {
  .dictionary {
    padding: 100px 0 25px 0;
  }
}
