.modal {
  max-width: 100% !important;
  &_header {
    padding: 0px !important;
    border: none !important;
    justify-content: flex-end;
    i {
      font-size: 20px;
      color: #fff;
      cursor: pointer;
    }
  }
  &_content {
    // background: rgba($color: #000000, $alpha: 0.45) !important;
    background: transparent !important;
    padding: 0px 150px !important;
  }
  &_body {
    padding: 10px 15px !important;
  }
  iframe {
    width: 100%;
    height: 400px;
  }
}
