.feed_page {
  background: #011e46;
  .banner {
    position: relative;
    margin: 0px -90px;
    @media screen and (max-width: 768px) {
      img {
        object-fit: cover !important;
      }
    }
    @media screen and (max-width: 992px) {
      margin-right: -45px;
      margin-left: -45px;
    }
    @media all and (max-width: 576px) {
      margin-right: -20px;
      margin-left: -20px;
    }
    &_content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: #011e4673;
      padding: 0px 45px;
      .content_title {
        font-size: 64px;
        text-transform: uppercase;
        font-weight: 700;
        color: #fff;
        @media screen and (max-width: 992px) {
          font-size: 45px;
        }
        @media screen and (max-width: 767.98px) {
          font-size: 36px;
        }
        @media screen and (max-width: 480px) {
          font-size: 28px;
        }
        @media screen and (max-width: 376px) {
          font-size: 22px;
        }
      }
    }
  }
  .content {
    padding: 50px 0 74px 0px;
    &_navigation {
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 768px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: stretch;
      }
    }
    .feed_list {
      margin-top: 67px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 16px 20px;
      @media screen and (max-width: 992px) {
        grid-gap: 10px;
      }
      @media screen and (max-width: 767.98px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
      }
      @media screen and (max-width: 480px) {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
      }
      .feed_item {
        position: relative;
        cursor: pointer;
        span {
          width: 100% !important;
          height: 100% !important;
        }
        @media screen and (max-width: 767.98px) {
          img {
            object-fit: cover !important;
          }
        }
      }
      .feed_content {
        position: absolute;
        background: #00000099;
        width: 100%;
        height: 40px;
        bottom: 0;
        padding: 5px 12px;
        span {
          color: #fff;
          font-size: 12px;
          font-weight: 500;
          line-height: 1.2;
          text-transform: uppercase;
        }
      }
      .play_video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: #fff;
        i {
          font-size: 45px;
        }
      }
    }
    .btn_view {
      background: #fff;
      border: 2px solid #fff;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1.2;
      margin-top: 46px;
      padding: 11px 28px;
      color: #011e46;
      &:hover {
        background-color: #011e46;
        color: #fff;
      }
    }
  }
}
