.mainLayout {
	margin: 68px auto 0px;
	color: #000;
	max-width: 1440px;
	width: 100% !important;
	overflow: hidden;
	background-color: #f4ecdb;

	.children {
		padding: 110px 35px 0px 35px;
	}
}

@media all and (max-width: 992px) {
	.mainLayout {
		.children {
			padding: 100px 25px 0px 25px;
		}
	}
}

@media all and (max-width: 576px) {
	.mainLayout {
		.children {
			padding: 80px 15px 0px 15px;
		}
	}
}

// @media all and (max-width: 480px) {
//   .mainLayout {
//     .children {
//       padding: 180px 15px 0px 15px;
//     }
//   }
// }
