.mainLayout {
  margin: 68px auto 0px;
  color: #fff;
  max-width: 1440px;
  width: 100% !important;
  background-color: #011e46;
  overflow: hidden;

  .children {
    padding: 0px 35px;
  }
}

@media all and (max-width: 992px) {
  .mainLayout {
    .children {
      padding: 0px 35px;
    }
  }
}

@media all and (max-width: 576px) {
  .mainLayout {
    .children {
      padding: 0px 35px;
    }
  }
}

@media all and (max-width: 480px) {
  .mainLayout {
    .children {
      padding: 0px 35px;
    }
  }
}
