.footer,
.footer_black {
	.box_footer {
		.box_top_tablet,
		.box_top_desktop {
			display: none;
			margin-bottom: 40px;
			.title {
				font-weight: 700;
				font-size: 12px;
				line-height: 25px;
				text-transform: uppercase;
				cursor: pointer;
			}
			.tagList {
				font-weight: 400;
				font-size: 12px;
				line-height: 25px;
				margin-top: 15px;
				cursor: pointer;
				width: 75px;
			}
		}
		@media all and (max-width: 992px) {
			.box_top_tablet {
				display: flex;
			}
		}
		@media all and (min-width: 992px) {
			.box_top_desktop {
				display: flex;
			}
		}
		.box_bottom {
			.bottom_left {
				h5 {
					font-weight: 700;
					font-size: 12px;
					line-height: 25px;
					text-transform: uppercase;
				}
				h4 {
					font-weight: 700;
					font-size: 18px;
					line-height: 25px;
					text-transform: uppercase;
				}
				span,
				h6 {
					font-weight: 400;
					font-size: 15px;
					line-height: 25px;
				}
			}
			.box_right {
				.contain {
					h4 {
						font-weight: 700;
						font-size: 18px;
						line-height: 25px;
						text-transform: uppercase;
					}
					span {
						font-weight: 400;
						font-size: 15px;
						line-height: 25px;
					}
					input {
						background: rgba(228, 228, 228, 0.75);
						border-radius: 50px;
						padding: 5px 10px;
						border: none;
						width: 90%;
						margin: 5px 0;
					}
				}
			}
		}
	}
}
.footer {
	background-color: #fff;
	color: #000000;
	button {
		color: white;
		font-weight: 700;
		font-size: 15px;
		line-height: 25px;
		text-transform: uppercase;
		padding: 5px 20px;
		background: #b90000;
		border-radius: 50px;
		border: 2px solid #b90000;
		font-family: "Times New Roman";
		font-style: normal;
		&:hover {
			background: #fff;
			color: #b90000;
		}
	}
}
.footer_black {
	background-color: #000;
	color: #fff;
	button {
		color: white;
		font-weight: 700;
		font-size: 15px;
		line-height: 25px;
		text-transform: uppercase;
		padding: 5px 20px;
		background: #008dba;
		border-radius: 50px;
		border: 2px solid #008dba;
		font-family: "Times New Roman";
		font-style: normal;
		&:hover {
			background: #000;
			color: #008dba;
		}
	}
}
