@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.homepage {
	// background-color: #eae3d4;
	font-family: "Times New Roman";
	background-color: #f4ecdb;
	font-style: normal;
	.banner {
		background-color: rgb(240, 238, 232);
		color: white;
		margin: 0 -35px;
		margin-bottom: 40px;
		padding-top: 60px;
		@media all and (max-width: 1024px) {
			padding-top: 20px;
		}
		@media all and (max-width: 991px) {
			padding-top: 30px;
		}
		@media all and (max-width: 767px) {
			padding-top: 55px;
		}
		@media all and (max-width: 425px) {
			padding-top: 30px;
		}
		.slide {
			opacity: 0.5;
			transform: scale(0.8);
			transition: all 0.5s ease;
		}
		.active {
			opacity: 1;
			transform: scale(1);
		}
		h3 {
			font-weight: 700;
			font-size: 25px;
		}
		h5 {
			font-weight: 400;
			font-size: 15px;
			color: #939393;
		}
		.box_image_content {
			position: relative;
			.content {
				position: absolute;
				bottom: 10%;
				left: 5%;
				color: #fff;
				z-index: 1;
				button {
					background: #ffffff;
					border-radius: 50px;
					border: 1px solid #ffffff;
					padding: 2px 15px;
					font-size: 15px;
					color: #000000;
					&:hover {
						background: transparent;
						color: #ffffff;
					}
				}
				h5 {
					font-weight: 400;
					font-size: 15px;
					color: #939393;
				}
				h3 {
					font-weight: 700;
					font-size: 22px;
					color: #ffffff;
				}
			}
			.box_bg {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(
					180deg,
					rgba(0, 0, 0, 0) 0%,
					rgba(0, 0, 0, 0.5) 100%
				);
			}
			@media all and (max-width: 768px) {
				.content {
					width: 75%;
					bottom: 5%;
					left: 10%;
				}
			}
		}
	}
	.knowledge {
		margin-bottom: 20px;
		.box_slide {
			margin-left: 35px;
		}
		span {
			font-weight: 400;
			font-size: 22px;
			font-weight: 700;
			color: black;
		}
		h1 {
			font-family: "UTM Cafeta";
			font-weight: 400;
			font-size: 40px;
			text-transform: uppercase;
			color: #000000;
			@media all and (max-width: 768px) {
				font-size: 25px;
			}
		}
		h4 {
			font-weight: 400;
			font-size: 22px;
			font-weight: 700;
			color: black;
		}
		h5 {
			font-weight: 400;
			font-size: 15px;
			color: #939393;
		}
	}
	.news_ipo {
		.box_content_news {
			padding: 37px 10px 10px 75px;
			@media all and (max-width: 768px) {
				padding: 37px 10px 10px 10px;
			}
		}
		.box_image_news {
			position: relative;
			height: 100%;
			.box_image {
				span {
					height: 100% !important;
				}
			}
			.bg {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(
					180deg,
					rgba(0, 0, 0, 0) 0%,
					rgba(0, 0, 0, 0.5) 100%
				);
			}
			span {
				position: initial !important;
			}
			.content {
				position: absolute;
				bottom: 5%;
				left: 5%;
				color: #fff;
				width: 80%;
				span {
					font-weight: 700;
					font-size: 22px;
				}
				h5 {
					font-weight: 400;
					font-size: 15px;

					color: #939393;
				}
				@media all and (max-width: 768px) {
					span {
						font-size: 16px;
					}
				}
			}
		}
		.box_image {
			span {
				height: 100% !important;
			}
		}
		// .box_image_right {
		// 	margin-bottom: 15px;
		// 	span {
		// 		height: 100% !important;
		// 	}
		// }
		h1 {
			font-family: "UTM Cafeta";
			font-weight: 400;
			font-size: 40px;
			text-transform: uppercase;
			color: #000000;
			@media all and (max-width: 768px) {
				font-size: 25px;
			}
		}
		h4 {
			font-weight: 700;
			font-size: 18px;

			color: #000000;
		}
		h5 {
			font-weight: 400;
			font-size: 15px;

			color: #939393;
		}
		.box_image_right {
			height: fit-content;
		}
	}
	.library {
		margin-bottom: -20px;
		h1 {
			font-family: "UTM Cafeta";
			font-weight: 400;
			font-size: 40px;
			text-transform: uppercase;
			color: #000000;
			@media all and (max-width: 768px) {
				font-size: 25px;
			}
		}
		.item_libary {
			background-color: white;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			padding: 20px;
			margin-top: 10px;
			min-height: 421px;
			.box_image {
				span {
					width: 100% !important;
				}
			}
			h3 {
				font-weight: 600;
				font-size: 22px;
				color: #000000;
			}
			h5 {
				font-weight: 400;
				font-size: 15px;
				color: #575757;
			}
			h6 {
				font-style: italic;
				font-weight: 400;
				font-size: 15px;
				color: #000000;
			}
		}
		span {
			font-weight: 700;
			font-size: 18px;
			display: flex;
			justify-content: center;
			color: #050505;
		}
		button {
			background: #a31925;
			border-radius: 10px;
			font-weight: 700;
			font-size: 22px;
			color: #ffffff;
			border: 1px solid #a31925;
			margin-top: 30px;
			padding: 15px;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
			&:hover {
				background: transparent;
				color: #a31925;
				transition: all 0.3s ease;
			}
			@media all and (max-width: 768px) {
				font-size: 16px;
				padding: 10px;
			}
		}
	}
	.experts {
		.list_expert {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 16px 15px;
			.item_expert {
				h5,
				h6 {
					font-weight: 700;
					font-size: 22px;
					text-align: center;
				}
				h6 {
					color: #000000;
				}
				h5 {
					color: #a31925;
				}
			}
			@media screen and (max-width: 425px) {
				grid-template-columns: repeat(1, 1fr);
				grid-gap: 20px;
			}
		}
		h1 {
			font-family: "UTM Cafeta";
			font-weight: 400;
			font-size: 40px;
			text-transform: uppercase;
			color: #000000;
			@media all and (max-width: 768px) {
				font-size: 25px;
			}
		}
		margin-bottom: 45px;
	}
	@media all and (max-width: 768px) {
		.experts .list_expert .item_expert {
			h5,
			h6 {
				font-size: 15px;
			}
		}
	}
	.library_ipo {
		padding-bottom: 14px;
		h1 {
			font-family: "UTM Cafeta";
			font-weight: 400;
			font-size: 40px;
			text-transform: uppercase;
			color: #000000;
			@media all and (max-width: 768px) {
				font-size: 25px;
			}
		}
		.box_content {
			height: 445px;
			.box_video {
				padding-left: 45px !important;
				height: 100%;
			}
			.box_content_media {
				height: 100%;
				.box_media {
					.list_library {
						height: 100%;
						.item_library {
							margin-bottom: 15px;
							h6 {
								font-weight: 700;
								font-size: 15px;
								color: #000000;
							}
						}
					}
				}
				@media all and (max-width: 1440px) {
					.box_media .list_library {
						height: 100%;
					}
				}
			}
			@media all and (max-width: 992px) {
				.box_video {
					padding-left: 0px !important;
					height: 50%;
				}
				.box_content_media{
					height: 50%;
				}
			}
		}
	}
	// .slide_bottom {
	// 	background-color: rgb(240, 238, 232);
	// 	color: white;
	// 	// margin-bottom: 20px;
	// 	padding-top: 10px;
	// 	@media all and (max-width: 1024px) {
	// 		padding-top: 40px;
	// 	}
	// 	@media all and (max-width: 991px) {
	// 		padding-top: 110px;
	// 	}
	// 	@media all and (max-width: 767px) {
	// 		padding-top: 30px;
	// 	}
	// 	@media all and (max-width: 425px) {
	// 		padding-top: 10px;
	// 	}
	// 	.slide {
	// 		// opacity: 0.5;
	// 		transform: scale(0.8);
	// 		transition: all 0.5s ease;
	// 	}
	// 	.active {
	// 		// opacity: 1;
	// 		transform: scale(1);
	// 	}
	// 	span {
	// 		position: inherit !important;
	// 		img {
	// 			border-radius: 20px;
	// 		}
	// 	}
	// 	h3 {
	// 		font-weight: 700;
	// 		font-size: 20px;
	// 		color: #000000;
	// 	}
	// 	h5 {
	// 		font-weight: 400;
	// 		font-size: 15px;
	// 		color: #939393;
	// 	}
	// 	.box_image_content {
	// 		position: relative;
	// 		.content {
	// 			position: absolute;
	// 			bottom: 10%;
	// 			left: 5%;
	// 			color: #fff;
	// 			z-index: 1;
	// 			button {
	// 				background: #ffffff;
	// 				border-radius: 50px;
	// 				border: 1px solid #ffffff;
	// 				padding: 2px 15px;
	// 				font-size: 15px;
	// 				color: #000000;
	// 				&:hover {
	// 					background: transparent;
	// 					color: #ffffff;
	// 				}
	// 			}
	// 			h5 {
	// 				font-weight: 400;
	// 				font-size: 15px;
	// 				color: #939393;
	// 			}
	// 			h3 {
	// 				font-weight: 700;
	// 				font-size: 22px;
	// 				color: #ffffff;
	// 			}
	// 		}
	// 		.box_bg {
	// 			position: absolute;
	// 			bottom: 0;
	// 			left: 0;
	// 			width: 100%;
	// 			height: 100%;
	// 			background: linear-gradient(
	// 				180deg,
	// 				rgba(0, 0, 0, 0) 0%,
	// 				rgba(0, 0, 0, 0.5) 100%
	// 			);
	// 			border-radius: 20px;
	// 		}
	// 		@media all and (max-width: 768px) {
	// 			.content {
	// 				width: 75%;
	// 				bottom: 5%;
	// 				left: 10%;
	// 			}
	// 		}
	// 	}
	// }
	&_title_slider {
		font-size: 20px;
		font-weight: 700;
		text-align: center;
	}

	&_content_slider {
		font-size: 15px;
		font-weight: 400;
		text-align: center;
		color: #939393;
	}

	.slide_bottom {
		padding-top: 10px;
		@media all and (max-width: 1024px) {
			padding-top: 40px;
		}
		@media all and (max-width: 991px) {
			padding-top: 110px;
		}
		@media all and (max-width: 767px) {
			padding-top: 30px;
		}
		@media all and (max-width: 425px) {
			padding-top: 10px;
		}

		.active {
			// opacity: 1;
			transform: scale(1);
		}

		.slide {
			// opacity: 0.5;
			transform: scale(0.88);
			transition: all 0.5s ease;
		}

		.content_active {
			transition: all 0.09s ease-in-out;
			.homepage_title_slider {
				margin: 12px 0 10px;
			}
		}
	}
	/* width */
	::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #555;
		border-radius: 10px;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: black;
	}
}
