.subPartner {
  padding: 0 0 50px 0;

  &_header {
    position: relative;

    .text {
      position: absolute;
      bottom: 35px;
      left: 35px;
    }
  }

  i {
    font-size: 20px;
    margin-right: 14px !important;
  }

  .timeCreate {
    font-size: 16px;
    font-weight: 400;
    color: #6f6f6f;
  }

  &_content {
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
  }

  &_title_lg {
    color: #fff;
    font-size: 40px;
    line-height: 46px;
    font-weight: 700;
  }

  &_content_lg {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
  }

  .box {
    border: 1px solid #000;
    border-top: 1px solid transparent;
    padding: 15px 0;
    margin-top: -10px;

    .user {
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
    }

    .joinDate {
      font-size: 20px;
      font-weight: 700;
    }

    .label {
      font-size: 13px;
      font-weight: 400;
    }

    .label_lg {
      font-size: 15px;
      font-weight: 400;
    }
  }
}
