.course {
  padding: 50px 0 50px 0;

  .bdRight {
    border-right: 1px solid #000;

    div:nth-last-child(1) {
      margin-bottom: 0 !important;
    }
  }

  &_title {
    font-size: 20px;
    font-weight: 700;
    text-align: justify;

    &:hover {
      cursor: pointer;
      color: rgb(14, 14, 239);
    }
  }

  &_title_white {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-align: justify;

    &:hover {
      cursor: pointer;
      color: rgb(14, 14, 239);
    }
  }

  &_title_sm {
    font-size: 18px;
    font-weight: 700;
    text-align: justify;

    &:hover {
      cursor: pointer;
      color: rgb(14, 14, 239);
    }
  }

  &_content {
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    color: #939393;
  }

  .scroll {
    height: 100%;
    max-height: 850px;
    overflow-y: auto;
    border: 1px solid #000;
    // padding: 12px !important;

    &::-webkit-scrollbar {
      width: 5px;
      background-color: #fff;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #605959;
      border-radius: 10px;
    }
  }
}

@media all and (max-width: 992px) {
  .course {
    padding: 30px 0 25px 0;

    .scroll {
      max-height: 510px;
    }
  }
}

@media all and (min-width: 576px) and (max-width: 768px) {
  .course {
    padding: 50px 0 25px 0;
  }
}

@media all and (max-width: 576px) {
  .course {
    padding: 50px 0 25px 0;

    .bdRight {
      border-right: none;
    }

    .scroll {
      max-height: 510px;
    }
  }
}
