.forum {
  padding: 0 0 50px 0;

  &_title {
    font-size: 40px;
    line-height: 46px;
    font-weight: 700;
    margin-bottom: 5px !important;
  }

  &_content {
    font-size: 18px;
    font-weight: 400;
  }

  &_text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #6f6f6f;
    margin-bottom: 4px !important;
  }

  .avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
  }
}
