.subPartner {
  padding: 0 0 50px 0;
  margin-top: -50px;

  &_header {
    position: relative;

    .text {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .link {
    i {
      font-size: 20px;
      margin-right: 14px !important;
      cursor: pointer;
    }
  }

  .extend {
    color: #636363;
    font-size: 15px;
    font-weight: 400;

    .amount {
      color: #636363;
      font-size: 15px;
      font-weight: 400;
      margin-bottom: 5px;
    }

    .interactive {
      font-size: 13px;

      i {
        font-size: 13px;
        margin-right: 5px !important;
        cursor: pointer;
      }

      div {
        cursor: pointer;
      }

      div:nth-child(4) {
        cursor: pointer !important;

        i {
          font-size: 12px !important;
        }

        background-color: #0969c9 !important;
        color: #fff !important;
        border-radius: 2px !important;
        padding: 4px !important;
      }
    }

    .account_cmt {
      font-size: 13px;
      line-height: 15px;
      font-weight: 400;
      color: #000;
      margin-bottom: 8px;
    }

    .time_cmt {
      font-size: 9px;
      line-height: 10px;
      font-weight: 400;
    }

    .avatar {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  .timeCreate {
    font-size: 16px;
    font-weight: 400;
    color: #6f6f6f;
  }

  &_content {
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
  }

  &_title_lg {
    color: #fff;
    font-size: 40px;
    line-height: 46px;
    font-weight: 700;
  }

  &_content_lg {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
  }

  .box {
    border: 1px solid #000;
    border-top: 1px solid transparent;
    padding: 15px 0;
    margin-top: -10px;

    .user {
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
    }

    .joinDate {
      font-size: 20px;
      font-weight: 700;
    }

    .label {
      font-size: 13px;
      font-weight: 400;
    }

    .label_lg {
      font-size: 15px;
      font-weight: 400;
    }
  }
}

@media all and (max-width: 992px) {
  .subPartner {
    padding: 0 0 25px 0;
    margin-top: -50px;

    &_header {
      position: relative;

      .text {
        position: relative;
      }
    }

    &_title_lg {
      color: #000;
      font-size: 25px;
      line-height: 30px;
    }

    &_content_lg {
      color: #929292;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

@media all and (min-width: 576px) and (max-width: 768px) {
  .subPartner {
    padding: 0 0 10px 0;
    margin-top: -20px;
  }
}

@media all and (max-width: 576px) {
  .subPartner {
    padding: 0 0 10px 0;
    margin-top: 20px;

    &_header {
      position: relative;

      .text {
        position: relative;
      }
    }

    i {
      font-size: 18px;
      margin-right: 10px !important;
    }

    .timeCreate {
      font-size: 14px;
      font-weight: 400;
      color: #6f6f6f;
    }
  }
}
