* {
	box-sizing: border-box;
}
* {
	user-select: none;
}

*:focus {
	outline: none;
}
// @font-face {
// 	font-family: "times";
// 	src: url("../public/fonts/times.ttf");
// 	src: url("../public/fonts/timesbd.ttf");
// 	src: url("../public/fonts/timesbi.ttf");
// 	src: url("../public/fonts/timesi.ttf");
// }

@font-face {
	font-family: "UTM Cafeta";
	src: url("../public/fonts/UTM-Cafeta.ttf");
}

span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0 !important;
	padding: 0 !important;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	&:hover,
	&:hover span {
		color: rgba(248, 171, 12, 1) !important;
	}
}
ul {
	list-style: none;
}
a,
p,
span,
button,
div {
	font-family: "Times New Roman";
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Times New Roman";
}
button {
	cursor: pointer;
}

hr {
	color: #000 !important;
	opacity: 1 !important;
	border: none !important;
}

a {
	text-decoration: none !important;
	color: inherit !important;

	&:hover {
		cursor: pointer;
		color: rgb(14, 14, 239) !important;
	}
}

p {
	line-height: 25px;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
	[data-aos-delay] {
		transition-delay: 0 !important;
	}
}

#feed_page {
	.nav-item {
		&:nth-child(2) {
			padding-left: 10px !important;
			padding-right: 10px !important;
		}
		@media screen and (max-width: 480px) {
			width: 100%;
		}
	}
	.nav-pills .nav-link {
		background: #a4a4a4;
		color: #60748e;
		text-transform: uppercase;
		border-radius: 0;
		padding: 11px 33px;
		font-size: 18px;
		font-weight: 600;
		@media screen and (max-width: 768px) {
			padding: 12px;
			width: 100%;
			height: 100%;
			font-size: 14px;
		}
	}
	.nav-pills .nav-link.active {
		background: #ffffff;
		color: #011e46;
	}
}

// OVERRIDE CSS TAB START
.ant-tabs-nav-list {
	color: red !important;
}

.ant-tabs-nav-wrap {
	height: 55px;
}

.ant-tabs-tab + .ant-tabs-tab {
	margin: 0 10px !important;
}

.ant-tabs-tab-btn {
	color: #000 !important;
	opacity: 0.5;
	font-size: 20px;
	font-weight: 500;
	font-family: "Times New Roman", Times, serif !important;

	&:hover {
		opacity: 1;
	}
}

.ant-tabs-tab.ant-tabs-tab-active {
	.ant-tabs-tab-btn {
		color: #000 !important;
		opacity: 1;
		font-size: 34px;
		transition: 0.1s all ease !important;
		margin-bottom: 6px;
	}
}

.ant-tabs-ink-bar {
	background-color: #a31925 !important;
	top: 42px;
}

.ant-tabs-tab {
	padding: 0 10px !important;
}

// OVERRIDE CSS TAB END

// Slider CSS Start

// .slick-arrow {
// 	position: absolute;
// 	// bottom: -40px;
// 	// left: 50%;
// 	width: 25px;
// 	height: 25px;
// 	padding: 0;
// 	text-indent: -9999px;
// 	background-repeat: no-repeat;
// 	background: transparent;

// 	&:after {
// 		content: "";
// 		position: absolute;
// 		top: 50%;
// 		left: 50%;
// 		z-index: 2;
// 		display: inline-block;
// 		width: 0;
// 		height: 0;
// 		border-style: solid;
// 	}
// 	&.slick-prev {
// 		// transform: translateX(-50%) translateX(-30px);
// 		position: absolute;
// 		left: 20px;
// 		z-index: 10;
// 		&:after {
// 			// position: absolute;
// 			border: 2px solid;
// 			border-color: #fff transparent transparent #fff;
// 			height: 20px;
// 			width: 20px;
// 			transform: rotate(-45deg);
// 		}
// 	}
// 	&.slick-next {
// 		// transform: translateX(-50%) translateX(30px);
// 		position: absolute;
// 		right: 35px;
// 		z-index: 10;
// 		&:after {
// 			// position: absolute;
// 			border: 2px solid;
// 			border-color: #fff transparent transparent #fff;
// 			height: 20px;
// 			width: 20px;
// 			transform: rotate(135deg);
// 		}
// 	}
// }
// Slider CSS End

.slick-prev,
.slick-next {
	top: 35%;
}

// Pagination Start
.pagination {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	font-family: "Times New Roman", Times, serif;

	.page-num {
		padding: 10px 13px;
		cursor: pointer;
		font-size: 20px;
		font-weight: 500;
		opacity: 0.5;

		&:hover {
			color: #000 !important;
			opacity: 1;
		}
	}

	.page-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		cursor: pointer;
		height: 12px;
		width: 12px;
		font-weight: 500;
		opacity: 0.5;
		transform: scale(2.5);

		&:hover {
			color: #000 !important;
			opacity: 1;
		}
	}
}

.pagination .active {
	opacity: 1;
	font-weight: 600;
}

li.previous {
	width: 12px;
	height: 12px;
	border: 2px solid #000000;
	border-top: 1px solid transparent;
	border-right: 1px solid transparent;
	border-radius: 0px 4px;
	transform: rotate(45deg);
	opacity: 0.5;

	&:hover {
		opacity: 1;
	}
}
li.next {
	width: 12px;
	height: 12px;
	border: 2px solid #000000;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
	border-radius: 0px 4px;
	transform: rotate(45deg);
	opacity: 0.5;

	&:hover {
		opacity: 1;
	}
}
// Pagination End

.rounded_20 {
	border-radius: 20px;
}

.ticket_standard {
	color: #f8ab0c;

	input[type="radio"] {
		&:checked {
			background-color: #f8ab0c !important;
			border: 2px solid #f8ab0c !important;
			box-shadow: 0px 0px 10px #f8ab0c !important;
		}

		&:hover {
			box-shadow: 0px 0px 10px #f8ab0c !important;
			border: 2px solid #f8ab0c !important;
		}
	}
}

.ticket_deluxe {
	color: #44b148;

	input[type="radio"] {
		&:checked {
			background-color: #44b148 !important;
			border: 2px solid #44b148 !important;
			box-shadow: 0px 0px 10px #44b148 !important;
		}

		&:hover {
			box-shadow: 0px 0px 10px #44b148 !important;
			border: 2px solid #44b148 !important;
		}
	}
}

.ticket_ga {
	color: #cb0202;
}

.ticket_family {
	color: #0686d6;
}

.heading {
	display: flex;
	flex-direction: row;
	width: 100%;

	.text {
		font-family: "UTM Cafeta", sans-serif;
		text-transform: uppercase;
		font-size: 40px;
		line-height: 51px;
		font-weight: 700;
	}

	.decor {
		border-bottom: 1px solid #000;
		height: 41px;
		margin-left: 20px;
	}
}

.heading_white {
	display: flex;
	flex-direction: row;
	width: 100%;
	color: #fff;

	.text {
		font-family: "UTM Cafeta", sans-serif;
		text-transform: uppercase;
		font-size: 40px;
		line-height: 51px;
		font-weight: 700;
	}

	.decor {
		border-bottom: 1px solid #fff;
		height: 41px;
		margin-left: 20px;
	}
}

.line {
	width: 100%;
	height: 0.3px;
	background-color: #000;
	margin: 0px 0px 20px 0px;
}

.lineWhite {
	width: 100%;
	height: 1px;
	background-color: #fff;
	margin: 0px 0px 20px 0px;
}

.slick-next:before {
	display: none;
}
.slick-prev:before {
	display: none;
}

button.slick-arrow.slick-prev {
	height: 42px;
	margin-left: 30px;
	z-index: 99;
}

button.slick-arrow.slick-next {
	height: 42px;
	margin-right: 30px;
	z-index: 99;
}

.height_expert {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 800px;
}

.height_100 {
	position: relative;
	width: 100%;
	height: 100%;
}

.height_50 {
	position: relative;
	width: 100%;
	height: 50%;
	min-height: 600px;
}

@media all and (max-width: 992px) {
	.heading {
		.text {
			font-size: 35px;
		}

		.decor {
			height: 36px;
		}
	}

	.slick-prev,
	.slick-next {
		top: 31%;
	}
}

@media all and (min-width: 576px) and (max-width: 768px) {
	.slick-prev,
	.slick-next {
		top: 28%;
	}
}

@media all and (max-width: 576px) {
	.heading {
		.text {
			font-size: 30px;
		}

		.decor {
			height: 31px;
		}
	}

	.slick-prev,
	.slick-next {
		top: 30%;
	}
}
